.react-calendar__navigation {
    display: flex;
    margin: 20px 15%;
}

.react-calendar__navigation__label {
    text-transform: uppercase;
}

.react-calendar__month-view abbr {
    text-transform: uppercase;
    text-decoration: none;  
}

.react-calendar .react-calendar__month-view__weekdays {
    font-size: 16px;
}

.react-calendar__month-view__days button {
   aspect-ratio: 1/1;
}

.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.5;
}

.react-calendar__tile--active {
    border: 4px solid #008E4D;
    border-radius: 5px;
    aspect-ratio: 1/1;
    padding-bottom: 3px;
}

.react-calendar__tile--now {

}

.react-calendar .sunday {
    opacity: 0.5;
}

.react-calendar__month-view__days__day {
    position: relative;
}