.header {
    display: flex;
    flex-direction: column;
}

.header h2 {
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: 500;
    color: #008E4D;
}

.headerNav h2 {
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: 400;
    color: #008E4D;
}

.headerNav h1 {
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: bolder;
}

.header h1 {
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: bolder;
}

.headerbox {
    display: flex;
    /* margin-top: 8vh; */
    /* margin-left: 10vw; */
    margin-right: 10vw; 
    justify-content: space-between;
}

.headerboxNav {
    display: flex;
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-between;
}

.headerbox_icon {
    display: flex;
    justify-content: right;
    align-items: center;
}

.background {
    background-color: gray;
}