.header{
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 10vw;
}

.header h2{
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: 500;
    color: #008E4D;
}

.header h1{
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: bolder;
}