@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.main{
    margin-left: 10vw;
    margin-right: 10vw;
}

.listEntry{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.listEntry h2{
    padding-bottom: 1vh;
    font-size: 2.5vh;
    color: #008E4D;
}


.description{
    display: flex;
    padding-bottom: 1vh;
}

.line{
    flex: 0.8;
}

.line p{
    line-height: 3vh;
}

.line span{
    font-weight: bold;
    color: #b4b4b4;
}

.price{
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 2vh;
}

.timeline{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 2vh;
    font-weight: bolder;
}

.timeline hr{
    width: 20vw;
    border: 3px solid #008E4D;
}
