{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"webproxy.fh-kufstein.ac.at","tags":[{"name":"address-controller","description":"Address Controller"},{"name":"antragstellung-controller","description":"Antragstellung Controller"},{"name":"bankdaten-controller","description":"Bankdaten Controller"},{"name":"cafeteria-data-controller","description":"Cafeteria Data Controller"},{"name":"cafeteria-menu-controller","description":"Cafeteria Menu Controller"},{"name":"calendar-sync-controller","description":"Calendar Sync Controller"},{"name":"career-controller","description":"Career Controller"},{"name":"cas-basic-authenticator-controller","description":"Cas Basic Authenticator Controller"},{"name":"curriculum-summation-controller","description":"Curriculum Summation Controller"},{"name":"deputat-controller","description":"Deputat Controller"},{"name":"device-token-controller","description":"Device Token Controller"},{"name":"erreichbarkeit-controller","description":"Erreichbarkeit Controller"},{"name":"exam-ba-ma-controller","description":"Exam Ba Ma Controller"},{"name":"final-examination-approval-controller","description":"Final Examination Approval Controller"},{"name":"final-examination-controller","description":"Final Examination Controller"},{"name":"final-examination-controller-v-2","description":"Final Examination Controller V 2"},{"name":"forschungspunkte-controller","description":"Forschungspunkte Controller"},{"name":"grade-management-controller","description":"Grade Management Controller"},{"name":"infoboard-controller","description":"Infoboard Controller"},{"name":"interview-controller","description":"Interview Controller"},{"name":"kontaktsanierung-controller","description":"Kontaktsanierung Controller"},{"name":"kursfreigabe-controller","description":"Kursfreigabe Controller"},{"name":"lecture-controller","description":"Lecture Controller"},{"name":"lehre-verfuegbarkeit-controller","description":"Lehre Verfuegbarkeit Controller"},{"name":"lehrveranstaltungen-controller","description":"Lehrveranstaltungen Controller"},{"name":"liferay-update-job-controller","description":"Liferay Update Job Controller"},{"name":"mail-controller","description":"Mail Controller"},{"name":"mesonic-controller","description":"Mesonic Controller"},{"name":"message-controller","description":"Message Controller"},{"name":"moodle-controller","description":"Moodle Controller"},{"name":"noteneingabe-controller","description":"Noteneingabe Controller"},{"name":"outgoing-controller","description":"Outgoing Controller"},{"name":"personen-controller","description":"Personen Controller"},{"name":"pkz-validator-controller","description":"Pkz Validator Controller"},{"name":"raum-anforderung-controller","description":"Raum Anforderung Controller"},{"name":"reduktionen-controller","description":"Reduktionen Controller"},{"name":"semester-controller","description":"Semester Controller"},{"name":"sprachen-kompetenz-controller","description":"Sprachen Kompetenz Controller"},{"name":"stellenbewerbungen-controller","description":"Stellenbewerbungen Controller"},{"name":"student-controller","description":"Student Controller"},{"name":"studien-controller","description":"Studien Controller"},{"name":"syllabus-c-2-controller","description":"Syllabus C 2 Controller"}],"paths":{"/test-portal/antragstellung/availablerequesttypes":{"get":{"tags":["antragstellung-controller"],"summary":"findAvailableAntraege","operationId":"findAvailableAntraegeUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/findactivesemesterbypkz":{"get":{"tags":["antragstellung-controller"],"summary":"findActiveSemesterByPKZ","operationId":"findActiveSemesterByPKZUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"pkz","in":"query","description":"pkz","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/findantraegeforstudy":{"get":{"tags":["antragstellung-controller"],"summary":"findAntragstellungAntragForStudienId","operationId":"findAntragstellungAntragForStudienIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"studienid","in":"query","description":"studienid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/findcoursesbyjgabsid":{"get":{"tags":["antragstellung-controller"],"summary":"findCoursesByJgabsId","operationId":"findCoursesByJgabsIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"jgabsid","in":"query","description":"jgabsid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/findcoursesbyjgabsidfordaterange":{"get":{"tags":["antragstellung-controller"],"summary":"findcoursesbyjgabsidfordaterange","operationId":"findcoursesbyjgabsidfordaterangeUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"jgabsid","in":"query","description":"jgabsid","required":true,"type":"integer","format":"int64"},{"name":"to","in":"query","description":"to","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/findverhinderungsgrundhlist":{"get":{"tags":["antragstellung-controller"],"summary":"findVerhinderungsgrundHList","operationId":"findVerhinderungsgrundHListUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/saveantraganrechnung":{"post":{"tags":["antragstellung-controller"],"summary":"saveAntragAnrechnung","operationId":"saveAntragAnrechnungUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"anrechnungDto","description":"anrechnungDto","required":true,"schema":{"$ref":"#/definitions/AntragAnrechnungDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/saveantragfreistellung":{"post":{"tags":["antragstellung-controller"],"summary":"saveAntragFreistellung","operationId":"saveAntragFreistellungUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"freistellungDto","description":"freistellungDto","required":true,"schema":{"$ref":"#/definitions/AntragFreistellungDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/widerrufanrechnung":{"post":{"tags":["antragstellung-controller"],"summary":"widerrufanrechnung","operationId":"widerrufanrechnungUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"anrechnungDto","description":"anrechnungDto","required":true,"schema":{"$ref":"#/definitions/AntragAnrechnungDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/antragstellung/widerruffreistellung":{"post":{"tags":["antragstellung-controller"],"summary":"wiederruffreistellung","operationId":"wiederruffreistellungUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"freistellungDto","description":"freistellungDto","required":true,"schema":{"$ref":"#/definitions/AntragFreistellungDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/bankdaten/getbankdaten":{"get":{"tags":["bankdaten-controller"],"summary":"getBankdatenForPerson","operationId":"getBankdatenForPersonUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/bankdaten/save":{"post":{"tags":["bankdaten-controller"],"summary":"saveBankdaten","operationId":"saveBankdatenUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/BankdatenDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/cafeteria/getcafeteriadata":{"get":{"tags":["cafeteria-data-controller"],"summary":"getCafeteriaDataRe","operationId":"getCafeteriaDataReUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"from","in":"query","description":"from","required":false,"type":"string"},{"name":"until","in":"query","description":"until","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/test-portal/cafeteriaMenu/deleteMenu":{"post":{"tags":["cafeteria-menu-controller"],"summary":"deleteMenu","operationId":"deleteMenuUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/CafeteriaMenuDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/cafeteriaMenu/getMenu":{"get":{"tags":["cafeteria-menu-controller"],"summary":"getMenu","operationId":"getMenuUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"until","in":"query","description":"until","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/cafeteriaMenu/insertOrUpdateMenu":{"post":{"tags":["cafeteria-menu-controller"],"summary":"insertOrUpdateMenu","operationId":"insertOrUpdateMenuUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/CafeteriaMenuDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/calendarsync/findsubscription":{"get":{"tags":["calendar-sync-controller"],"summary":"findSubscriptionForPersId","operationId":"findSubscriptionForPersIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/test-portal/calendarsync/updatesubscription":{"post":{"tags":["calendar-sync-controller"],"summary":"updateSubscription","operationId":"updateSubscriptionUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/LectureCalendarSubscriptionDTO"}},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/test-portal/careerservice/validateemail":{"get":{"tags":["career-controller"],"summary":"validateEmail","operationId":"validateEmailUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/curriculum-sum/program-totals":{"get":{"tags":["curriculum-summation-controller"],"summary":"retrieveProgramTotals","operationId":"retrieveProgramTotalsUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"programID","in":"query","description":"programID","required":true,"type":"integer","format":"int64"},{"name":"programSegmentID","in":"query","description":"programSegmentID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/deputat/confirmdeputatsmeldung":{"get":{"tags":["deputat-controller"],"summary":"confirmDeputatsmeldung","operationId":"confirmDeputatsmeldungUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"summersemester","in":"query","description":"summersemester","required":true,"type":"string"},{"name":"wintersemester","in":"query","description":"wintersemester","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/deputat/getalldeputatsmeldungen":{"get":{"tags":["deputat-controller"],"summary":"getAllDeputatsmeldungen","operationId":"getAllDeputatsmeldungenUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/deputat/getalldeputatsmeldungenforstudyyear":{"get":{"tags":["deputat-controller"],"summary":"getAllDeputatsmeldungenForStudyYear","operationId":"getAllDeputatsmeldungenForStudyYearUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"summersemester","in":"query","description":"summersemester","required":true,"type":"string"},{"name":"wintersemester","in":"query","description":"wintersemester","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/exambama/findassignedexambabylektorpersidandbisdate":{"get":{"tags":["exam-ba-ma-controller"],"summary":"findExambaByLektorPersId","operationId":"findExambaByLektorPersIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bisdate","in":"query","description":"bisdate","required":true,"type":"string","format":"date-time"},{"name":"lektorpersid","in":"query","description":"lektorpersid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/exambama/findassignedexammabylektorpersidandbisdate":{"get":{"tags":["exam-ba-ma-controller"],"summary":"findExammaByLektorPersId","operationId":"findExammaByLektorPersIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bisdate","in":"query","description":"bisdate","required":true,"type":"string","format":"date-time"},{"name":"lektorpersid","in":"query","description":"lektorpersid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/exambama/findnotdeductedexambabylektorpersid":{"get":{"tags":["exam-ba-ma-controller"],"summary":"findNotDeductedExambaByLektorPersId","operationId":"findNotDeductedExambaByLektorPersIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"lektorpersid","in":"query","description":"lektorpersid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/exambama/findnotdeductedexammabylektorpersid":{"get":{"tags":["exam-ba-ma-controller"],"summary":"findNotDeductedExammaByLektorPersId","operationId":"findNotDeductedExammaByLektorPersIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"lektorpersid","in":"query","description":"lektorpersid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/fhapp/deletemessage":{"get":{"tags":["message-controller"],"summary":"deleteMessage","operationId":"deleteMessageUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/fhapp/getmessages":{"get":{"tags":["message-controller"],"summary":"getMessages","operationId":"getMessagesUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/fhapp/updatemessage":{"get":{"tags":["message-controller"],"summary":"updateMessage","operationId":"updateMessageUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/fhapptoken/createtoken":{"post":{"tags":["device-token-controller"],"summary":"createToken","operationId":"createTokenUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"fhAppDeviceDataDTO","description":"fhAppDeviceDataDTO","required":true,"schema":{"$ref":"#/definitions/FhAppDeviceDataDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/fhapptoken/deletetoken":{"post":{"tags":["device-token-controller"],"summary":"deleteToken","operationId":"deleteTokenUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"fhAppDeviceDataDTO","description":"fhAppDeviceDataDTO","required":true,"schema":{"$ref":"#/definitions/FhAppDeviceDataDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/findstudentsforteam":{"get":{"tags":["final-examination-controller"],"summary":"findStudentsForTeam","operationId":"findStudentsForTeamUsingGET_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"teamid","in":"query","description":"teamid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/findteamsforday":{"get":{"tags":["final-examination-controller"],"summary":"findTeamsForDay","operationId":"findTeamsForDayUsingGET_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"datum","in":"query","description":"datum","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/loadfullstudentinfo":{"get":{"tags":["final-examination-controller"],"summary":"loadFullStudentInfo","operationId":"loadFullStudentInfoUsingGET_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"pstudid","in":"query","description":"pstudid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/savebachelorexaminee":{"post":{"tags":["final-examination-controller"],"summary":"saveBachelorExaminee","operationId":"saveBachelorExamineeUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"bachelorExamineeDTO","description":"bachelorExamineeDTO","required":true,"schema":{"$ref":"#/definitions/BachelorExamineeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/savemasterexaminee":{"post":{"tags":["final-examination-controller"],"summary":"saveMasterExaminee","operationId":"saveMasterExamineeUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"masterExamineeDTO","description":"masterExamineeDTO","required":true,"schema":{"$ref":"#/definitions/MasterExamineeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/v2/findstudentsforteam":{"get":{"tags":["final-examination-controller-v-2"],"summary":"findStudentsForTeam","operationId":"findStudentsForTeamUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"teamid","in":"query","description":"teamid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/v2/findteamsforday":{"get":{"tags":["final-examination-controller-v-2"],"summary":"findTeamsForDay","operationId":"findTeamsForDayUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"datum","in":"query","description":"datum","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/v2/loadfullstudentinfo":{"get":{"tags":["final-examination-controller-v-2"],"summary":"loadFullStudentInfo","operationId":"loadFullStudentInfoUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"pstudid","in":"query","description":"pstudid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/v2/savebachelorexaminee":{"post":{"tags":["final-examination-controller-v-2"],"summary":"saveBachelorExaminee","operationId":"saveBachelorExamineeUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"bachelorExamineeDTO","description":"bachelorExamineeDTO","required":true,"schema":{"$ref":"#/definitions/BachelorExamineeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexamination/v2/savemasterexaminee":{"post":{"tags":["final-examination-controller-v-2"],"summary":"saveMasterExaminee","operationId":"saveMasterExamineeUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"masterExamineeDTO","description":"masterExamineeDTO","required":true,"schema":{"$ref":"#/definitions/MasterExamineeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexaminationapproval/findabschlusspruefungentoapprove":{"get":{"tags":["final-examination-approval-controller"],"summary":"findAbschlusspruefungenToApprove","operationId":"findAbschlusspruefungenToApproveUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/finalexaminationapproval/saveabschluesspruefungsfreigabe":{"get":{"tags":["final-examination-approval-controller"],"summary":"saveAbschluesspruefungsFreigabe","operationId":"saveAbschluesspruefungsFreigabeUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/forschungspunkte/deleteforschungspunkt":{"get":{"tags":["forschungspunkte-controller"],"summary":"deleteForschungspunkt","operationId":"deleteForschungspunktUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"},{"name":"punktid","in":"query","description":"punktid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/forschungspunkte/getallvalidforschungspunktehfordate":{"get":{"tags":["forschungspunkte-controller"],"summary":"getAllValidForschungspunkteHForDate","operationId":"getAllValidForschungspunkteHForDateUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"date","in":"query","description":"date","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/forschungspunkte/loadallforschungspunktejahre":{"get":{"tags":["forschungspunkte-controller"],"summary":"loadAllForschungspunkteJahre","operationId":"loadAllForschungspunkteJahreUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/forschungspunkte/saveforschungspunkt":{"post":{"tags":["forschungspunkte-controller"],"summary":"saveForschungspunkt","operationId":"saveForschungspunktUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/PersonForschungsPunkteDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/forschungspunkte/saveforschungspunktejahr":{"post":{"tags":["forschungspunkte-controller"],"summary":"saveForschungspunkteJahr","operationId":"saveForschungspunkteJahrUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/PersonForschungspunkteJahrDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/test-portal/forschungspunkte/updateforschungspunkt":{"post":{"tags":["forschungspunkte-controller"],"summary":"updateForschungspunkt","operationId":"updateForschungspunktUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/PersonForschungsPunkteDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/forschungspunkte/updateforschungspunktejahr":{"post":{"tags":["forschungspunkte-controller"],"summary":"updateForschungspunkteJahr","operationId":"updateForschungspunkteJahrUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/PersonForschungspunkteJahrDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/findgrplistforlektorbybisdate":{"get":{"tags":["grade-management-controller"],"summary":"findGrpListForLektorAndBisDate","operationId":"findGrpListForLektorAndBisDateUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bisdate","in":"query","description":"bisdate","required":true,"type":"string","format":"date-time"},{"name":"lektorpersid","in":"query","description":"lektorpersid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/findlektornoteneingabebygrp":{"get":{"tags":["grade-management-controller"],"summary":"findLektorEingabePerId","operationId":"findLektorEingabePerIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"grpid","in":"query","description":"grpid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/save":{"post":{"tags":["grade-management-controller"],"summary":"save","operationId":"saveUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/LektorNoteneingabeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/v2/delete":{"post":{"tags":["noteneingabe-controller"],"summary":"delete","operationId":"deleteUsingPOST_1","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"notenDto","description":"notenDto","required":true,"schema":{"$ref":"#/definitions/NotenDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/v2/findNoten":{"get":{"tags":["noteneingabe-controller"],"summary":"findNotenDtoForGrp","operationId":"findNotenDtoForGrpUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"sgabslvcurrigrpId","in":"query","description":"sgabslvcurrigrpId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/v2/findlvs":{"get":{"tags":["noteneingabe-controller"],"summary":"findLehrveranstaltungforLektorAndBisDate","operationId":"findLehrveranstaltungforLektorAndBisDateUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bisdate","in":"query","description":"bisdate","required":true,"type":"string","format":"date-time"},{"name":"lektorpersid","in":"query","description":"lektorpersid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/v2/save":{"post":{"tags":["noteneingabe-controller"],"summary":"save","operationId":"saveUsingPOST_2","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"notenDto","description":"notenDto","required":true,"schema":{"$ref":"#/definitions/NotenDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/v2/saveAll":{"post":{"tags":["noteneingabe-controller"],"summary":"saveAll","operationId":"saveAllUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"notenDtoList","description":"notenDtoList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/NotenDto"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/grademanagement/v2/sendmail":{"post":{"tags":["noteneingabe-controller"],"summary":"sendMail","operationId":"sendMailUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"model","description":"model","required":true,"schema":{"$ref":"#/definitions/SendEmailPostModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/infoboard/getrpdata":{"get":{"tags":["infoboard-controller"],"summary":"getRpData","operationId":"getRpDataUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"from","in":"query","description":"from","required":false,"type":"string"},{"name":"lvid","in":"query","description":"lvid","required":false,"type":"integer","format":"int64"},{"name":"persid","in":"query","description":"persid","required":false,"type":"integer","format":"int64"},{"name":"pkz","in":"query","description":"pkz","required":false,"type":"string"},{"name":"rpid","in":"query","description":"rpid","required":false,"type":"integer","format":"int64"},{"name":"until","in":"query","description":"until","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/infoboard/getrpjgs":{"get":{"tags":["infoboard-controller"],"summary":"getRpJGs","operationId":"getRpJGsUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/infoboard/getrplecturers":{"get":{"tags":["infoboard-controller"],"summary":"getRpLecturers","operationId":"getRpLecturersUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"date","in":"query","description":"date","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/interview/getapplicationyears":{"get":{"tags":["interview-controller"],"summary":"getApplicationYearsForPerson","operationId":"getApplicationYearsForPersonUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"persid","in":"query","description":"persid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/interview/getavailableapplicants":{"get":{"tags":["interview-controller"],"summary":"getAvailableApplicants","operationId":"getAvailableApplicantsUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"teamid","in":"query","description":"teamid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/interview/getfullapplicantinfo":{"get":{"tags":["interview-controller"],"summary":"getFullApplicantInfo","operationId":"getFullApplicantInfoUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bwid","in":"query","description":"bwid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/interview/getteamsforday":{"get":{"tags":["interview-controller"],"summary":"getTeamsForDay","operationId":"getTeamsForDayUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"datum","in":"query","description":"datum","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/interview/saveinterviewdata":{"post":{"tags":["interview-controller"],"summary":"saveInterviewData","operationId":"saveInterviewDataUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"applicantDTO","description":"applicantDTO","required":true,"schema":{"$ref":"#/definitions/ApplicantDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/iro/deletedocument":{"post":{"tags":["outgoing-controller"],"summary":"deleteDocument","operationId":"deleteDocumentUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"outgoingDokumenteDTO","description":"outgoingDokumenteDTO","required":true,"schema":{"$ref":"#/definitions/OutgoingDokumenteDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/iro/deletedocumentzusatz":{"post":{"tags":["outgoing-controller"],"summary":"deleteDocumentZusatz","operationId":"deleteDocumentZusatzUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"outgoingDokumenteDTO","description":"outgoingDokumenteDTO","required":true,"schema":{"$ref":"#/definitions/OutgoingDokumenteZusatzDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/iro/getdocuments":{"get":{"tags":["outgoing-controller"],"summary":"getDocuments","operationId":"getDocumentsUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"st2orgid","in":"query","description":"st2orgid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/iro/getdocumentzusatz":{"get":{"tags":["outgoing-controller"],"summary":"getDocumentZusatz","operationId":"getDocumentZusatzUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"st2orgid","in":"query","description":"st2orgid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/iro/updatedocument":{"post":{"tags":["outgoing-controller"],"summary":"updateDocument","operationId":"updateDocumentUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"outgoingDokumenteDTO","description":"outgoingDokumenteDTO","required":true,"schema":{"$ref":"#/definitions/OutgoingDokumenteDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/iro/updatedocumentzusatz":{"post":{"tags":["outgoing-controller"],"summary":"updateDocumentZusatz","operationId":"updateDocumentZusatzUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"outgoingDokumenteDTO","description":"outgoingDokumenteDTO","required":true,"schema":{"$ref":"#/definitions/OutgoingDokumenteZusatzDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/kontaktsanierung/getkontakt":{"get":{"tags":["kontaktsanierung-controller"],"summary":"getKontakt","operationId":"getKontaktUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/kontaktsanierung/savezustimmung":{"post":{"tags":["kontaktsanierung-controller"],"summary":"saveInterviewData","operationId":"saveInterviewDataUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"kontaktSanierungDTO","description":"kontaktSanierungDTO","required":true,"schema":{"$ref":"#/definitions/KontaktSanierungDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/kursfreigabe/acceptcourse":{"get":{"tags":["kursfreigabe-controller"],"summary":"acceptCourse","operationId":"acceptCourseUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"grpid","in":"query","description":"grpid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/kursfreigabe/declinecourse":{"get":{"tags":["kursfreigabe-controller"],"summary":"declineCourse","operationId":"declineCourseUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"grpid","in":"query","description":"grpid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/kursfreigabe/getacceptedanddeclinedcourses":{"get":{"tags":["kursfreigabe-controller"],"summary":"getAcceptedAndDeclinedCourses","operationId":"getAcceptedAndDeclinedCoursesUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/kursfreigabe/getlvs":{"get":{"tags":["kursfreigabe-controller"],"summary":"getLehrveranstaltungen","operationId":"getLehrveranstaltungenUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/lecture/getLectureDays":{"get":{"tags":["lecture-controller"],"summary":"getLectureDays","operationId":"getLectureDaysUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"until","in":"query","description":"until","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/lehreverfuegbarkeit/delete":{"post":{"tags":["lehre-verfuegbarkeit-controller"],"summary":"delete","operationId":"deleteUsingPOST","consumes":["application/json;charset=utf-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/LehreVerfuegbarkeitDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/lehreverfuegbarkeit/findallforperson":{"get":{"tags":["lehre-verfuegbarkeit-controller"],"summary":"findAllForPerson","operationId":"findAllForPersonUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/lehreverfuegbarkeit/save":{"post":{"tags":["lehre-verfuegbarkeit-controller"],"summary":"save","operationId":"saveUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/LehreVerfuegbarkeitDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/lehrveranstaltungen/getcuriigrpbysemesterandpidfordeputatrelevantlvs":{"get":{"tags":["lehrveranstaltungen-controller"],"summary":"getCuriiDetailListPerSemesterAndPidForDeputatRelevantLvs","operationId":"getCuriiDetailListPerSemesterAndPidForDeputatRelevantLvsUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bisdate","in":"query","description":"bisdate","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/lehrveranstaltungen/getsgabslvcuriigrpbyid":{"get":{"tags":["lehrveranstaltungen-controller"],"summary":"getSgAbsLvCuriiGrpById","operationId":"getSgAbsLvCuriiGrpByIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/liferayupdatejob/getAllPhoneNumbers":{"get":{"tags":["liferay-update-job-controller"],"summary":"getPhoneNumbers","operationId":"getPhoneNumbersUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/liferayupdatejob/getIntranetEvents":{"get":{"tags":["liferay-update-job-controller"],"summary":"getEvents","operationId":"getEventsUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/mail/sendbigopennotification":{"post":{"tags":["mail-controller"],"summary":"sendBigOpenNotification","operationId":"sendBigOpenNotificationUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/MailDTO"}},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/mesonic/checkpaymentforsemester":{"get":{"tags":["mesonic-controller"],"summary":"checkPaymentForSemester","operationId":"checkPaymentForSemesterUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"meldedatum","in":"query","description":"meldedatum","required":true,"type":"string"},{"name":"persid","in":"query","description":"persid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/misc/getSemesterlist":{"get":{"tags":["semester-controller"],"summary":"getSemesterList","operationId":"getSemesterListUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"startbis","in":"query","description":"startbis","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/moodle/getMoodleCourses":{"get":{"tags":["moodle-controller"],"summary":"getMoodleCourses","operationId":"getMoodleCoursesUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persid","in":"query","description":"persid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/adresse/findortebycityandzip":{"get":{"tags":["address-controller"],"summary":"findByCityAndZip","operationId":"findByCityAndZipUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"city","in":"query","description":"city","required":true,"type":"string"},{"name":"zip","in":"query","description":"zip","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/adresse/findorteforplz":{"get":{"tags":["address-controller"],"summary":"findOrteForPlz","operationId":"findOrteForPlzUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"plz","in":"query","description":"plz","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/adresse/getalladressen":{"get":{"tags":["address-controller"],"summary":"getAdressen","operationId":"getAdressenUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/adresse/getcountries":{"get":{"tags":["address-controller"],"summary":"getCountries","operationId":"getCountriesUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/adresse/saveadresse":{"post":{"tags":["address-controller"],"summary":"saveErreichbarkeiten","operationId":"saveErreichbarkeitenUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AdressDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/erreichbarkeit/geterreichbarkeiten":{"get":{"tags":["erreichbarkeit-controller"],"summary":"getAdressen","operationId":"getAdressenUsingGET_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/erreichbarkeit/saveerreichbarkeiten":{"post":{"tags":["erreichbarkeit-controller"],"summary":"saveErreichbarkeiten","operationId":"saveErreichbarkeitenUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/ErreichbarkeitDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/getpersidfromsamaccountname":{"get":{"tags":["personen-controller"],"summary":"getPersIdFromSamAccountName","operationId":"getPersIdFromSamAccountNameUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"sam","in":"query","description":"sam","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/getpersondata":{"get":{"tags":["personen-controller"],"summary":"getPersonData","operationId":"getPersonDataUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/getpicture":{"get":{"tags":["personen-controller"],"summary":"getPicture","operationId":"getPictureUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/getstglandteammitglieder":{"get":{"tags":["personen-controller"],"summary":"getSTGLAndTeammitglieder","operationId":"getSTGLAndTeammitgliederUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persID","in":"query","description":"persID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/resetpassword":{"post":{"tags":["personen-controller"],"summary":"resetPassword","operationId":"resetPasswordUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"changePasswordDTO","description":"changePasswordDTO","required":true,"schema":{"$ref":"#/definitions/ChangePasswordDTO"}},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/samAccountExists":{"get":{"tags":["personen-controller"],"summary":"samAccountExists","operationId":"samAccountExistsUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"sam","in":"query","description":"sam","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/personen/savepicture":{"post":{"tags":["personen-controller"],"summary":"savePicture","operationId":"savePictureUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"image","in":"query","description":"image","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/pkzvalidator":{"post":{"tags":["pkz-validator-controller"],"summary":"createToken","operationId":"createTokenUsingPOST_1","consumes":["application/x-www-form-urlencoded"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"pkz","in":"formData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/proxyauth/auth":{"post":{"tags":["cas-basic-authenticator-controller"],"summary":"auth","operationId":"authUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"escapeForwardSlashAlways","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/proxyauth/authenticate":{"post":{"tags":["cas-basic-authenticator-controller"],"summary":"authenticate","operationId":"authenticateUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/proxyauth/getauth":{"get":{"tags":["cas-basic-authenticator-controller"],"summary":"getAuth","operationId":"getAuthUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/proxyauth/getauthoctet":{"get":{"tags":["cas-basic-authenticator-controller"],"summary":"getAuthOctet","operationId":"getAuthOctetUsingGET","produces":["application/octet-stream"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/raumanforderung/getraumanforderunghlist":{"get":{"tags":["raum-anforderung-controller"],"summary":"getRaumAnforderungHList","operationId":"getRaumAnforderungHListUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/raumanforderung/getraumanforderungtyphlist":{"get":{"tags":["raum-anforderung-controller"],"summary":"getRaumAnforderungenTypHList","operationId":"getRaumAnforderungenTypHListUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/raumanforderung/save":{"post":{"tags":["raum-anforderung-controller"],"summary":"save","operationId":"saveUsingPOST_3","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/LehrveranstaltungenDTO"}},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/reduktionen/getallreduktionen":{"get":{"tags":["reduktionen-controller"],"summary":"getAllDeputatsmeldungen","operationId":"getAllDeputatsmeldungenUsingGET_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/sprachenkompetenz/getsprachen":{"get":{"tags":["sprachen-kompetenz-controller"],"summary":"getAllActiveLanguages","operationId":"getAllActiveLanguagesUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/sprachenkompetenz/getsprachkombis":{"get":{"tags":["sprachen-kompetenz-controller"],"summary":"getAllActiveLanguageCombinations","operationId":"getAllActiveLanguageCombinationsUsingGET","produces":["application/json;charset=utf-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/sprachenkompetenz/save":{"post":{"tags":["sprachen-kompetenz-controller"],"summary":"save","operationId":"saveUsingPOST_4","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SprachenkompetenzDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/sprachenkompetenz/savekombis":{"post":{"tags":["sprachen-kompetenz-controller"],"summary":"saveCombinationLanguage","operationId":"saveCombinationLanguageUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SprachenkompetenzKombiDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/stellenbewerbungen/getstellenbewerber":{"get":{"tags":["stellenbewerbungen-controller"],"summary":"getStellenbewerber","operationId":"getStellenbewerberUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/stellenbewerbungen/savestellenbewerberevaluation":{"post":{"tags":["stellenbewerbungen-controller"],"summary":"saveStellenbewerberEval","operationId":"saveStellenbewerberEvalUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/BewerberDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/student/findjgabswithgradesforpkz":{"get":{"tags":["student-controller"],"summary":"getJgaWithGradesForPKZ","operationId":"getJgaWithGradesForPKZUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/student/getexamsbypkzandsemester":{"get":{"tags":["student-controller"],"summary":"getExamsByPKZAndSemester","operationId":"getExamsByPKZAndSemesterUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"meldedatum","in":"query","description":"meldedatum","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/student/getgradesbypkzandsemester":{"get":{"tags":["student-controller"],"summary":"getGradesByPKZAndSemester","operationId":"getGradesByPKZAndSemesterUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"meldedatum","in":"query","description":"meldedatum","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/student/getstudentbasicinfo":{"get":{"tags":["student-controller"],"summary":"getStudentBasicInfo","operationId":"getStudentBasicInfoUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/student/getstudentcourses":{"get":{"tags":["student-controller"],"summary":"getStudentCourses","operationId":"getStudentCoursesUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/student/getstudentnextevent":{"get":{"tags":["student-controller"],"summary":"getNextEvent","operationId":"getNextEventUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/studien/getStudien":{"get":{"tags":["studien-controller"],"summary":"findStudienbyUserPersId","operationId":"findStudienbyUserPersIdUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persId","in":"query","description":"persId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/syllabusc2/getBeschreibungC2":{"get":{"tags":["syllabus-c-2-controller"],"summary":"getBeschreibungC2","operationId":"getBeschreibungC2UsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"grpnr","in":"query","description":"grpnr","required":true,"type":"string"},{"name":"tabelid","in":"query","description":"tabelid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/syllabusc2/getCuriiDetail":{"get":{"tags":["syllabus-c-2-controller"],"summary":"getCuriiDetail","operationId":"getCuriiDetailUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"grpnr","in":"query","description":"grpnr","required":true,"type":"string"},{"name":"lvid","in":"query","description":"lvid","required":true,"type":"string"},{"name":"persid","in":"query","description":"persid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/syllabusc2/getCuriiDetaillistBySemesterAndJahrgang":{"get":{"tags":["syllabus-c-2-controller"],"summary":"getCuriiDetaillisBySemesterAndJahrgang","operationId":"getCuriiDetaillisBySemesterAndJahrgangUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bisdate","in":"query","description":"bisdate","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"jahrgang","in":"query","description":"jahrgang","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/syllabusc2/getCuriiDetaillistPerSemesterAndPersID":{"get":{"tags":["syllabus-c-2-controller"],"summary":"getCuriiDetailListPerSemesterAndPid","operationId":"getCuriiDetailListPerSemesterAndPidUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"bisdate","in":"query","description":"bisdate","required":true,"type":"string"},{"name":"impersonatedUser","in":"query","description":"impersonatedUser","required":false,"type":"string","default":"default"},{"name":"persid","in":"query","description":"persid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/syllabusc2/saveBeschreibungC2":{"post":{"tags":["syllabus-c-2-controller"],"summary":"saveBeschreibungC2","operationId":"saveBeschreibungC2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SyllabusC2DTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/test-portal/syllabusc2/saveCuriiGrpAbgeschlossen":{"get":{"tags":["syllabus-c-2-controller"],"summary":"saveCuriiGrpAbgeschlossen","operationId":"saveCuriiGrpAbgeschlossenUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"AdressDTO":{"type":"object","properties":{"bem":{"type":"string"},"bis":{"type":"boolean"},"bundesland":{"type":"string"},"co":{"type":"string"},"district":{"type":"string"},"gemeinde":{"type":"string"},"heimat":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"nationcode":{"type":"string"},"ort":{"type":"string"},"persID":{"type":"integer","format":"int64"},"plz":{"type":"string"},"rechnung":{"type":"boolean"},"state":{"type":"string"},"strasse":{"type":"string"},"zustell":{"type":"boolean"}},"title":"AdressDTO"},"AntragAnrechnungDTO":{"type":"object","properties":{"antragstellungDokumenteList":{"type":"array","items":{"$ref":"#/definitions/AntragstellungFreigabeDokumentDTO"}},"begruendungBescheid":{"type":"string"},"bescheidDatum":{"type":"string","format":"date"},"einreichDatum":{"type":"string","format":"date"},"genehmigtVonPersonId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"semester":{"type":"integer","format":"int32"},"sgAbsLvCurriGrp":{"$ref":"#/definitions/AntragstellungGrpCourseDTO"},"status":{"$ref":"#/definitions/AntragstellungStatusDTO"},"studyId":{"type":"integer","format":"int64"}},"title":"AntragAnrechnungDTO"},"AntragFreistellungDTO":{"type":"object","properties":{"alleLehrveranstaltungen":{"type":"boolean"},"antragstellungDokumenteList":{"type":"array","items":{"$ref":"#/definitions/AntragstellungFreigabeDokumentDTO"}},"begruendungBescheid":{"type":"string"},"bescheidDatum":{"type":"string","format":"date"},"datumBis":{"type":"string","format":"date"},"datumVon":{"type":"string","format":"date"},"einreichDatum":{"type":"string","format":"date"},"genehmigtVonPersonId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"semester":{"type":"integer","format":"int32"},"sgAbsLvCurriGrpList":{"type":"array","items":{"$ref":"#/definitions/AntragstellungGrpCourseDTO"}},"status":{"$ref":"#/definitions/AntragstellungStatusDTO"},"studyId":{"type":"integer","format":"int64"},"verhinderungsgrundId":{"type":"integer","format":"int64"}},"title":"AntragFreistellungDTO"},"AntragstellungFreigabeDokumentDTO":{"type":"object","properties":{"documentAlfrescoId":{"type":"string"},"id":{"type":"integer","format":"int64"}},"title":"AntragstellungFreigabeDokumentDTO"},"AntragstellungGrpCourseDTO":{"type":"object","properties":{"grpBez":{"type":"string"},"grpId":{"type":"integer","format":"int64"},"grpLektorFamname":{"type":"string"},"grpLektorId":{"type":"integer","format":"int64"},"grpLektorVorname":{"type":"string"},"lvTypCode":{"type":"string"},"sgAbsLvId":{"type":"integer","format":"int64"}},"title":"AntragstellungGrpCourseDTO"},"AntragstellungStatusDTO":{"type":"object","properties":{"dateTime":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"kommentar":{"type":"string"},"statusHDTO":{"$ref":"#/definitions/AntragstellungStatusHDTO"}},"title":"AntragstellungStatusDTO"},"AntragstellungStatusHDTO":{"type":"object","properties":{"bezeichnung":{"type":"string"},"bezeichnung_en":{"type":"string"},"id":{"type":"integer","format":"int64"}},"title":"AntragstellungStatusHDTO"},"ApplicantDTO":{"type":"object","required":["berufserfahrung","bwid","eignung","fremdsprachenkenntnisse","persoenlichkeit","punkteMuendlich","studienBerufsziele","subjektiverGesamteindruck"],"properties":{"berufserfahrung":{"type":"integer","format":"int64"},"bewerbungsJahr":{"type":"integer","format":"int64"},"bewerbungsStatus":{"type":"integer","format":"int64"},"bwPrioJgs":{"type":"string"},"bwid":{"type":"integer","format":"int64"},"eignung":{"type":"integer","format":"int64"},"familienname":{"type":"string"},"fremdsprachenkenntnisse":{"type":"integer","format":"int64"},"geburtsdatum":{"type":"string","format":"date-time"},"gewichtungBerufserfahrung":{"type":"integer","format":"int64"},"gewichtungMuendlich":{"type":"integer","format":"int64"},"gewichtungSchriftlich":{"type":"integer","format":"int64"},"gwErgebnisBerufserfahrung":{"type":"number","format":"double"},"gwErgebnisGesamt":{"type":"number","format":"double"},"gwErgebnisMuendlich":{"type":"number","format":"double"},"gwErgebnisSchriftlich":{"type":"number","format":"double"},"interviewInhouse":{"type":"boolean"},"interviewZeit":{"type":"string"},"memo":{"type":"string"},"orgform":{"type":"string"},"persid":{"type":"integer","format":"int64"},"persoenlichkeit":{"type":"integer","format":"int64"},"punkteMuendlich":{"type":"integer","format":"int64"},"saved":{"type":"boolean"},"studienBerufsziele":{"type":"integer","format":"int64"},"studiengangKennzeichen":{"type":"string"},"studiengangKurzbez":{"type":"string"},"studiengangbez":{"type":"string"},"studiengangsArt":{"type":"string"},"studienjahr":{"type":"string"},"subjektiverGesamteindruck":{"type":"integer","format":"int64"},"terminMuendlich":{"type":"string","format":"date-time"},"terminSchriftlich":{"type":"string","format":"date-time"},"titelHinten":{"type":"string"},"titelVorne":{"type":"string"},"vorname":{"type":"string"},"zugangsvoraussetzungerfuellt":{"type":"boolean"},"zugangsvoraussetzungnotiz":{"type":"string"},"zugangsvoraussetzungteamerfuellt":{"type":"boolean"},"zugangsvoraussetzungteamnotiz":{"type":"string"},"zwErgebnis":{"type":"number","format":"double"}},"title":"ApplicantDTO"},"BaBetreuerDTO":{"type":"object","properties":{"abgerechnet":{"type":"boolean"},"baThesis":{"$ref":"#/definitions/BaThesisDTO"},"bisDate":{"type":"string","format":"date-time"},"deputatBuchung":{"$ref":"#/definitions/DeputatBuchungDTO"},"gutachtenvorhanden":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"person":{"$ref":"#/definitions/PersonDTO"}},"title":"BaBetreuerDTO"},"BaThesisDTO":{"type":"object","properties":{"abgabeDate":{"type":"string","format":"date-time"},"abgerechnet":{"type":"boolean"},"baBetreuerList":{"type":"array","items":{"$ref":"#/definitions/BaBetreuerDTO"}},"baTypHEnum":{"type":"string"},"bisDate":{"type":"string","format":"date-time"},"gutachtenvorhanden":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"notiz":{"type":"string"},"sperrung":{"type":"boolean"},"themaversendet":{"type":"boolean"},"titel":{"type":"string"}},"title":"BaThesisDTO"},"BachelorExamineeDTO":{"type":"object","properties":{"baIIthesisSupervisor":{"type":"string"},"baIIthesisTopic":{"type":"string"},"baIthesisSupervisor":{"type":"string"},"baIthesisTopic":{"type":"string"},"curriculumPoints":{"type":"number"},"curriculumPointsComments":{"type":"string"},"familienname":{"type":"string"},"geburtsdatum":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"interviewZeit":{"type":"string"},"senatMember1":{"type":"string"},"senatMember2":{"type":"string"},"senatMember3":{"type":"string"},"studId":{"type":"integer","format":"int64"},"studiengangKurzbez":{"type":"string"},"thesisPoints":{"type":"number"},"thesisPointsComments":{"type":"string"},"titelHinten":{"type":"string"},"titelVorne":{"type":"string"},"twoBATopics":{"type":"boolean"},"vorname":{"type":"string"}},"title":"BachelorExamineeDTO"},"BankdatenDTO":{"type":"object","required":["iban"],"properties":{"anmerkung":{"type":"string"},"bankname":{"type":"string"},"barzahlung":{"type":"integer","format":"int64"},"bicswift":{"type":"string"},"bisdatum":{"type":"string","format":"date-time"},"deputat":{"type":"integer","format":"int64"},"iban":{"type":"string"},"id":{"type":"integer","format":"int64"},"intbankid":{"type":"string"},"intkontonummer":{"type":"string"},"persID":{"type":"integer","format":"int64"},"transitnummer":{"type":"string"}},"title":"BankdatenDTO","xml":{"attribute":false,"wrapped":false}},"BewerberDTO":{"type":"object","properties":{"anmerkung":{"type":"string"},"ausbildung":{"type":"number","format":"double"},"eingangsdatum":{"type":"string","format":"date-time"},"familienname":{"type":"string"},"geburtsdatum":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"lehrerfahrung":{"type":"number","format":"double"},"persid":{"type":"integer","format":"int64"},"publikationen":{"type":"number","format":"double"},"stellenbewerbungid":{"type":"integer","format":"int64"},"vorname":{"type":"string"},"wirtschaft":{"type":"number","format":"double"}},"title":"BewerberDTO"},"CafeteriaMenuDTO":{"type":"object","properties":{"dish":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"preis":{"type":"string"},"symbol":{"type":"string"},"tag":{"type":"string"}},"title":"CafeteriaMenuDTO"},"ChangePasswordDTO":{"type":"object","required":["newPassword","username"],"properties":{"newPassword":{"type":"string"},"username":{"type":"string"}},"title":"ChangePasswordDTO"},"CxnationDTO":{"type":"object","properties":{"engltext":{"type":"string"},"entwland":{"type":"string"},"euflag":{"type":"string"},"ewrflag":{"type":"string"},"isocode":{"type":"string"},"kontinent":{"type":"string"},"kurztext":{"type":"string"},"langtext":{"type":"string"},"natId":{"type":"integer","format":"int64"},"nationcode":{"type":"string"},"sperre":{"type":"string"}},"title":"CxnationDTO"},"DeputatBuchungDTO":{"type":"object","properties":{"accepted":{"type":"boolean"},"acceptedDate":{"type":"string","format":"date-time"},"bearbeiter":{"type":"string"},"bisDatum":{"type":"string","format":"date-time"},"bisDatumString":{"type":"string"},"deputatSumme":{"type":"number"},"id":{"type":"integer","format":"int64"},"notiz":{"type":"string"},"persid":{"type":"integer","format":"int64"},"typ":{"type":"string"},"wert":{"type":"number","format":"double"}},"title":"DeputatBuchungDTO"},"DokumentenAbgabeHDTO":{"type":"object","properties":{"bezeichnung":{"type":"string"},"id":{"type":"integer","format":"int64"}},"title":"DokumentenAbgabeHDTO"},"ErreichbarkeitDTO":{"type":"object","properties":{"errArtID":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"memo":{"type":"string"},"nr":{"type":"string"},"persID":{"type":"integer","format":"int64"},"primaer":{"type":"integer","format":"int64"}},"title":"ErreichbarkeitDTO"},"ExamBaDTO":{"type":"object","properties":{"baThesisList":{"type":"array","items":{"$ref":"#/definitions/BaThesisDTO"}},"examdate":{"type":"string","format":"date-time"},"graduationdate":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"pointsdiscussion":{"type":"number","format":"double"},"pointstopic":{"type":"number","format":"double"},"studien":{"$ref":"#/definitions/StudienDTO"}},"title":"ExamBaDTO"},"ExamMaDTO":{"type":"object","properties":{"examdate":{"type":"string","format":"date-time"},"graduationdate":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"maThesisDTOList":{"type":"array","items":{"$ref":"#/definitions/MaThesisDTO"}},"mastercourseid":{"type":"integer","format":"int64"},"pointscontent":{"type":"number","format":"double"},"pointsdefensio":{"type":"number","format":"double"},"pointspres":{"type":"number","format":"double"},"pointsstudy":{"type":"number","format":"double"},"studien":{"$ref":"#/definitions/StudienDTO"}},"title":"ExamMaDTO"},"FhAppDeviceDataDTO":{"type":"object","required":["devicetoken","lang","platform"],"properties":{"devicetoken":{"type":"string"},"enablePushNotification":{"type":"boolean"},"lang":{"type":"string"},"platform":{"type":"string"}},"title":"FhAppDeviceDataDTO","xml":{"attribute":false,"wrapped":false}},"InskriptionenDTO":{"type":"object","properties":{"anzahlzeugnisse":{"type":"integer","format":"int64"},"ausbildunssemester":{"type":"integer","format":"int64"},"bem":{"type":"string"},"cxstudstatus":{"type":"integer","format":"int64"},"dropout":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"inskriptionsdatum":{"type":"string","format":"date-time"},"jgAbs":{"$ref":"#/definitions/JgAbsDTO"},"meldedatum":{"type":"string","format":"date-time"},"studien":{"$ref":"#/definitions/StudienDTO"}},"title":"InskriptionenDTO"},"JahrgaengeDTO":{"type":"object","properties":{"aktiv":{"type":"integer","format":"int64"},"extern":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"jgAbses":{"type":"array","items":{"$ref":"#/definitions/JgAbsDTO"}},"kurzbez":{"type":"string"},"npers":{"type":"integer","format":"int64"},"startdatum":{"type":"string","format":"date-time"},"studiengaengeDTO":{"$ref":"#/definitions/StudiengaengeDTO"}},"title":"JahrgaengeDTO"},"JgAbsDTO":{"type":"object","properties":{"bis":{"type":"string","format":"date-time"},"bismeldedatum":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"jahrgaengeDTO":{"$ref":"#/definitions/JahrgaengeDTO"},"nr":{"type":"integer","format":"int64"},"sgaId":{"type":"integer","format":"int64"},"von":{"type":"string","format":"date-time"}},"title":"JgAbsDTO"},"KontaktSanierungDTO":{"type":"object","required":["hashCode","zustimmung"],"properties":{"email":{"type":"string"},"familienname":{"type":"string"},"hashCode":{"type":"integer","format":"int32"},"vorname":{"type":"string"},"zustimmung":{"type":"boolean"}},"title":"KontaktSanierungDTO","xml":{"attribute":false,"wrapped":false}},"KursSelektionDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"jgAbs":{"$ref":"#/definitions/JgAbsDTO"},"person":{"$ref":"#/definitions/PersonDTO"},"sgAbsLvCuriiGrp":{"$ref":"#/definitions/SgAbsLvCuriiGrpDTO"},"zeugnisList":{"type":"array","items":{"$ref":"#/definitions/ZeugnisDTO"}}},"title":"KursSelektionDTO"},"LectureCalendarSubscriptionDTO":{"type":"object","properties":{"persId":{"type":"integer","format":"int64"},"subscription":{"type":"boolean"}},"title":"LectureCalendarSubscriptionDTO"},"LehreVerfuegbarkeitDTO":{"type":"object","properties":{"gueltigAb":{"type":"string","example":"yyyy-MM-dd","xml":{"name":"gueltigAb","attribute":false,"wrapped":false}},"id":{"type":"integer","format":"int64"},"persid":{"type":"integer","format":"int64"},"tage":{"type":"array","xml":{"name":"tage","attribute":false,"wrapped":true},"items":{"$ref":"#/definitions/LehreVerfuegbarkeitTagDTO"}}},"title":"LehreVerfuegbarkeitDTO","xml":{"attribute":false,"wrapped":false}},"LehreVerfuegbarkeitTagDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nachmittag":{"type":"boolean"},"tag":{"type":"string"},"typ":{"type":"string","enum":["BLOCK_INTERN","ERSTE_WAHL","NICHT_VERFUEGBAR","VERFUEGBAR"]},"verfuegbarkeitId":{"type":"integer","format":"int64"},"vormittag":{"type":"boolean"}},"title":"LehreVerfuegbarkeitTagDTO","xml":{"attribute":false,"wrapped":false}},"LehrveranstaltungenDTO":{"type":"object","properties":{"beschabgeschlossen":{"type":"integer","format":"int64"},"beschreibungDe":{"type":"string"},"beschreibungEn":{"type":"string"},"beschreibungFr":{"type":"string"},"bezcurriculum":{"type":"string"},"bezcurriculumii":{"type":"string"},"bismeldedatum":{"type":"string","format":"date-time"},"ectsC2":{"type":"number","format":"double"},"grpnr":{"type":"integer","format":"int64"},"jahrgang":{"type":"string"},"jgaNr":{"type":"integer","format":"int64"},"jgaid":{"type":"integer","format":"int64"},"lektor":{"type":"string"},"lektorid":{"type":"integer","format":"int64"},"lvtyp":{"type":"string"},"nrsg":{"type":"string"},"raumAnforderungDTO":{"$ref":"#/definitions/RaumAnforderungDTO"},"semesterNr":{"type":"integer","format":"int64"},"semesterText":{"type":"string"},"sgabslvcuriigrpid":{"type":"integer","format":"int64"},"sgabslvcuriiid":{"type":"integer","format":"int64"},"sws":{"type":"number","format":"double"}},"title":"LehrveranstaltungenDTO"},"LektorNoteneingabeDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kursSelektion":{"$ref":"#/definitions/KursSelektionDTO"},"notenTypH":{"$ref":"#/definitions/NotenTypHDTO"},"notiz":{"type":"string"},"prozent":{"type":"integer","format":"int64"},"sgAbsLvCuriiGrp":{"$ref":"#/definitions/SgAbsLvCuriiGrpDTO"},"statusH":{"$ref":"#/definitions/LektorNoteneingabeStatusHDTO"}},"title":"LektorNoteneingabeDTO"},"LektorNoteneingabeStatusHDTO":{"type":"object","properties":{"bezeichnung":{"type":"string"},"id":{"type":"integer","format":"int64"}},"title":"LektorNoteneingabeStatusHDTO"},"LvTypenHDTO":{"type":"object","properties":{"bez":{"type":"string"},"bez_eng":{"type":"string"},"code":{"type":"string"}},"title":"LvTypenHDTO"},"MaBetreuerDTO":{"type":"object","properties":{"abgerechnet":{"type":"boolean"},"bisDate":{"type":"string","format":"date-time"},"deputatBuchung":{"$ref":"#/definitions/DeputatBuchungDTO"},"gutachtenvorhanden":{"type":"boolean"},"gutachter":{"type":"string","enum":["GUTACHTERI","GUTACHTERII","GUTACHTERIII"]},"id":{"type":"integer","format":"int64"},"maThesis":{"$ref":"#/definitions/MaThesisDTO"},"person":{"$ref":"#/definitions/PersonDTO"}},"title":"MaBetreuerDTO"},"MaThesisDTO":{"type":"object","properties":{"abgabeDate":{"type":"string","fo
[...]
